*/_PRIV/*
Translation_System/misc/Hardware/LCD/2022-01-28-raspios-bullseye-armhf_rb-tft35_autoexpand.img
Translation_System/misc/Hardware/LCD/2022-01-28-raspios-bullseye-armhf_rb-tft35_autoexpand.zip
